.maintitle{
  font-size: 64px;
  font-family: "Sofia",Helvetica, Arial, sans-serif;
}

h1{
  margin: 0;
}

h2{
  text-align: center;
  font-size: 48px;
  margin: 0;
  border-bottom:2px solid red;
}

h3{
  font-size: 32px;
  margin: 0;
}

h4{
  font-size: 16px;
  margin: 0;
  color: grey;
}

.blog{
  font-family: "Quantico";
}

.date{
  padding-left: 10px;
  font-family: "Quantico";
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0;
}

body{
  background-image: url("bg.jpg");
  background-size: cover;
}

#container{
  background-color: rgba(0, 0, 0, 0.6);
}

#bottombar{
  text-align: right;
}

#bottomtext{
  text-align: right;
  padding-top: 20px;
  font-size: 8px;
}

#sidebar_button_m #sidebar_button_p #sidebar_button_t #sidebar_button_h #sidebar_button_n #sidebar_button_s{
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 32px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#sidebar_button_m:hover #sidebar_button_p:hover #sidebar_button_t:hover #sidebar_button_h:hover #sidebar_button_n:hover #sidebar_button_s:hover{
  background-color: black;
}

#sidebar_button_m:hover #sidebar_text_m{
  color: white;
}

#sidebar_button_n:hover #sidebar_text_n{
  color: white;
}

#sidebar_button_t:hover #sidebar_text_t{
  color: white;
}

#sidebar_button_s:hover #sidebar_text_s{
  color: white;
}

#sidebar_button_h:hover #sidebar_text_h{
  color: white;
}

#sidebar_button_p:hover #sidebar_text_p{
  color: white;
}


#sidebar_text{
  color: black;
}
